@import url("../styles.css");

.final-result {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.final-result__inner-container {
    background-color: var(--color-pink);
    width: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;

}

.final-result__user-box {
    background-color: var(--color-dark-grey);
    height: 25vh;
    width: 95%;
    margin: auto;
    display: flex;
    margin-bottom: 3vh;
}

.final-result__result-box {
    background-color: var(--color-dark-grey);
    height: 57vh;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: var(--color-off-white);
    position: relative;
}

.final-result__avatar-container {
    background-color: var(--color-off-white);
    width: 30%;
    color: var(--color-dark-grey);
    display: flex;
    height: 100%;
}

.final-result__avatar-container img {
    width: 100%;
}

.final-result__text-container {
    color: var(--color-off-white);
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
}

.final-result__result-box>div:nth-of-type(1) {
    margin-top: 2vh;
}

.final-result__slider {
    height: 40px;
    color: var(--color-dark-grey);
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: row;
    margin-bottom: 2vh;
}

.final-result__first-rate,
.final-result__second-rate {
    height: 4vh;
    display: flex;
    align-items: center;
}

.final-result__first-rate {
    background-color: var(--color-pink);
}

.final-result__answer--text {
    margin: 0 2px;
}

.final-result__second-rate {
    background-color: var(--color-off-white);
    justify-content: end;
}

.final-result__pink-background {
    background-color: var(--color-pink);
    padding-top: 2%;
}

.final-result__download {
    background-color: var(--color-pink);
    color: var(--color-dark-grey);
    font-size: var(--font-size-larger);
    margin-top: 20px;
    cursor: pointer;    
}

.final-result__download:active {
    background-color: var(--color-pink-darker);
}

.final-result__title {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    width: 90%;
    margin: auto;
}

.final-result__answer-text--left {
    color: var(--color-pink);
}

.final-result__info-icon {
    margin: 18px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 1vh;
    right: 8vw;
    cursor: pointer;    
}

.final-result__info-icon :active{
    color: var(--color-pink-darker);
}

@media (max-width: 800px) {
    .final-result__inner-container {
        width: 100%;
    }

    .final-result__avatar-container {
        width: 40%;
    }

    .final-result__text-container {
        width: 60%;
    }
}

@media (max-width: 1400px) and (min-width: 801px) {
    .final-result__inner-container {
        width: 70%;
    }

    .final-result__avatar-container {
        width: 35%;
    }

    .final-result__text-container {
        width: 65%;
    }
}