@import url("../styles.css");

.question-container {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.question {
    width: 100%;
}

.question__header {
    font-size: var(--font-size-header);
    background-color: var(--color-grey);
    border: 3px solid var(--color-black);
    margin: 23px 0;
    padding: 15px 20px;
}

.question__header--text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    word-wrap: break-word;
    margin-top: 0;
}

.question__answer-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.question__answer-button {
    width: 42.5vw;
    height: 20vh;
    background: none;
    background-color: var(--color-off-white);
    color: var(--color-black);
    border: 3px solid var(--color-black);
    padding: 15px 20px;
    font: inherit;
    font-size: var(--font-size-header);
    cursor: pointer;
    outline: inherit;
}

.question__submit-button {
    max-width: 200px;
    background: none;
    background-color: var(--color-grey);
    color: var(--color-off-white);
    border: 3px solid var(--color-black);
    padding: 15px 20px;
    font: inherit;
    font-size: var(--font-size-header);
    outline: inherit;
    margin-top: 23px;
    
}

.question__active-button {
    background-color: var(--color-pink);
    color: var(--color-black);
    cursor: pointer;
}