@import url("../styles.css");

.modalContent  {
    position: 'fixed';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backgroundColor: 'rgba(0, 0, 0, 0.6)';
}

.modalOverlay {
    position: 'absolute';
    top: '15%';
    left: '10%';
    right: '10%';
    bottom: '15%';
    border: '5px solid #181818';
    background: '#3D3D3D';
    overflow: 'auto';
    WebkitOverflowScrolling: 'touch';
    borderRadius: '4px';
    outline: 'none';
    padding: '20px'
}

.question-container {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.question {
    width: 100%;
}

.question__timer-text {
    font-size: var(--font-size-medium);
    width: 100%;
    color: var(--color-off-white);
    margin-top: 5%;
}

.question__timer-text--seconds {
    color: var(--color-pink);
}

.question__timer {
    width: 100%;
    height: 5%;
    background-color: var(--color-off-white);
    margin-top: 5%;
}

.question__inner-timer {
    height: 100%;
    background-color: var(--color-pink);
}

.question__header {
    font-size: var(--font-size-header);
    background-color: var(--color-grey);
    border: 3px solid var(--color-black);
    margin: 23px 0;
    padding: 15px 20px;
}

.question__header--text {
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    margin-top: 0;
    word-break: break-word;
    max-height: 400px;
}

.question__answer-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.question__answer-button {
    width: 42.5vw;
    min-height: 20vh;
    background: none;
    background-color: var(--color-off-white);
    color: var(--color-black);
    border: 3px solid var(--color-black);
    padding: 15px 20px;
    font: inherit;
    font-size: var(--font-size-header);
    cursor: pointer;
    outline: inherit;
    word-break: break-word;
}

.question__submit-button {
    max-width: 200px;
    background: none;
    background-color: var(--color-grey);
    color: var(--color-dark-grey);
    border: 3px solid var(--color-dark-grey);
    padding: 15px 20px;
    font: inherit;
    font-size: var(--font-size-header);
    outline: inherit;
    margin-top: 23px;
}

.question__active-button {
    background-color: var(--color-pink);
    color: var(--color-black);
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .question__answer-button {
        font-size: var(--font-size-medium);
    }

    .question__header {
        font-size: var(--font-size-medium);
    }
}