@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Neucha&display=swap');

.result_container {
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    height: 100vh;
    font-family: 'Chakra Petch', sans-serif;
}

.result_inner {
    background-color: #1E1E1E;
    width: 50%;
    flex-direction: column;
    padding-top: 30px;
}

.result_container .image_box {
    background-color: #E1E1DA;
    height: 200px;
    width: 200px;
    margin: auto;
    border: #FFADCB solid 4px;
}

.result_container .username {
    height: 50px;
    padding: 10px;
    font-size: 30px;
    color: #E1E1DA;
    font-weight: bold;
}

.result_container .question {
    background-color: #E1E1DA;
    height: 130px;
    width: 70%;
    padding: 10px;
    font-size: 25px;
    margin: auto;
    border: #FFADCB solid 2px;
}

.result_container .answer {
    color: #FFADCB;
    font-size: 25px;
    margin-bottom: 10px;
}

.result_container .user_answer {
    margin-top: 25px;
}

.result_container .result {
    height: 180px;
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-top: 50px;
}


.result_container .result_title {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.result_container .result_slider {
    height: 40px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.result_container .first_answer {
    background-color: #FFADCB;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.result_container .second_answer {
    background-color: #E1E1DA;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.result_container .result_user {
    background-color: beige;
}

@media (max-width: 800px) {
    .result_inner {
        width: 90%;
    }

}