.result {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.result__inner-container {
    width: 50%;
    flex-direction: column;
    padding-top: 2%;
}

.result__avatar-container {
    background-color: var(--color-grey);
    height: 30%;
    width: 50%;
    min-width: 150px;
    max-width: 300px;
    margin: auto;
    border: var(--color-pink) solid 3px;
    margin-top: 5vh;
}

.result__avatar-container img {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

.result__final-profile-button {
    background: none;
    background-color: var(--color-pink);
    color: var(--color-black);
    border: 3px solid var(--color-black);
    font-size: var(--font-size-medium);
    padding: 10px 10px;
    cursor: pointer;
    outline: inherit;
    margin-top: 2%;
}

.result__final-profile-button:active {
    background-color: var(--color-pink-darker);
}

.result__text {
    font-size: var(--font-size-larger);
    color: var(--color-off-white);
    margin-bottom: 3%;
}

.result__text--username {
    margin-top: 1%;
    color: var(--color-pink);
    font-size: var(--font-size-medium);
}

.result__question-text {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    min-height: 15%;
    background-color: var(--color-off-white);
    color: var(--color-dark-grey);
    font-size: var(--font-size-medium);
    margin: auto;
    border: var(--color-pink) solid 2px;
    word-break: break-word;
}

.result__answer-text {
    color: var(--color-pink);
    font-size: var(--font-size-larger);
    margin-bottom: 2%;
    word-break: break-word;
}

.result__user-answer--text {
    margin-left: 1%;
}

.result__user-answer {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.result__box {
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

.result__title {
    display: flex;
    justify-content: space-between;
}

.result__slider {
    height: 5vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    color: var(--color-dark-grey);
}

.result__answer-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.result__answer-bar--left {
    background-color: var(--color-pink);
}

.result__answer-bar--right {
    background-color: var(--color-off-white);
}

.result__answer-text--right {
    color: var(--color-off-white);
}

.admin-result {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.admin-result__inner-container {
    width: 90%;
    padding-top: 10%;
}

.admin-result__title {
    margin-top: 100px;
}

.result__text--larger {
    font-size: var(--font-size-larger);
}

@media (max-width: 800px) {
    .result__inner-container {
        width: 90%;
    }
}