.result {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.result__inner-container {
    width: 50%;
    flex-direction: column;
    padding-top: 2%;
}

.result__avatar-container {
    background-color: var(--color-off-white);
    height: 25%;
    width: 25%;
    min-width: 150px;
    margin: auto;
    border: var(--color-pink) solid 4px;
}

.result__avatar-container img {
    width: 100%;
    height: 100%;
}

.result__text {
    font-size: var(--font-size-larger);
    color: var(--color-off-white);
    margin: 5% 0;
}

.result__question-text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-off-white);
    color: var(--color-dark-grey);
    height: 20%;
    width: 70%;
    font-size: var(--font-size-larger);
    margin: auto;
    border: var(--color-pink) solid 2px;
}

.result__answer-text {
    color: var(--color-pink);
    font-size: var(--font-size-larger);
    margin-bottom: 2%;
}

.result__user-answer--text {
    margin-left: 1%;
}

.result__user-answer {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.result__box {
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

.result__title {
    display: flex;
    justify-content: space-between;
}

.result__slider {
    height: 5vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    color: var(--color-dark-grey);
}

.result__answer-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.result__answer-bar--left {
    background-color: var(--color-pink);
}

.result__answer-bar--right {
    background-color: var(--color-off-white);
}

@media (max-width: 800px) {
    .result__inner-container {
        width: 90%;
    }
}