@import url("../styles.css");

.start-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90%;
}

.start-page-user,
.start-page-question {
    height: 100%;
}

.start-page-landing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.start-page-landing__title {
    background-color: var(--color-grey);
    border: 2px solid var(--color-pink);
    margin-top: 5vh;
}

.start-page-landing__title img {
    height: 30vh;
}

.start-page-landing-icon img {
    height: 65vh;
}

.start-page-landing-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.submit-button {
    width: 150px;
    background: none;
    background-color: var(--color-pink);
    color: var(--color-black);
    border: 3px solid var(--color-black);
    padding: 15px 15px;
    font: inherit;
    font-size: var(--font-size-header);
    cursor: pointer;
    outline: inherit;
    margin-bottom: 2%;
}

.submit-button:active {
    background-color: var(--color-pink-darker);
}

@media (max-height: 650px), (max-width: 300px){
    .submit-button {
        padding: 5px 5px;
    }
}

@media (max-width: 315px) {
    .start-page-landing__title img {
        height: 20vh;
    }

    .start-page-landing-icon img {
        height: 50vh;
    }
}