@import url("../styles.css");

.start-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
}

.start-page-landing__title {
    font-family: var(--title-font);
    font-size: var(--font-size-header-large);
}

.submit-button {
    max-width: 150px;
    background: none;
    background-color: var(--color-pink);
    color: var(--color-black);
    border: 3px solid var(--color-black);
    padding: 15px 15px;
    font: inherit;
    font-size: var(--font-size-header);
    cursor: pointer;
    outline: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

@media screen and (max-height: 650px) {
    .submit-button{
        padding: 5px 5px;
    }
}