@import url("../styles.css");

.waiting-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.waiting-container-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.waiting-container__text {
    margin-top: 2%;
}