@import url("../styles.css");

.start-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
}

.start-page-user__header,
.start-page-user__avatar-container {
    font-size: var(--font-size-header);
    background-color: var(--color-grey);
    border: 3px solid var(--color-black);
    padding: 5px 0;
    margin: 23px 0;
}

.start-page-user--username {
    display: flex;
    flex-direction: column;
}

.start-page-user__avatar-container {
    height: 40vh;
}

.start-page-user__form-control {
    font-size: var(--font-size-header);
    border: none;
    outline: none;
    background-color: var(--color-off-white);
    color: var(--color-dark-grey);
    margin: 10px 25px;
    text-align: center;
}

.start-page-user__form-control:focus, .start-page-user__form-control:active {
    border: none;
    outline: solid 2px var(--color-pink);
}

.start-page-landing__title {
    font-family: var(--title-font);
    font-size: var(--font-size-header-large);
}

.start-page-landing__submit-button,
.start-page-user__submit-button {
    max-width: 200px;
    background: none;
    background-color: var(--color-pink);
    color: var(--color-black);
    border: 3px solid var(--color-black);
    padding: 15px 20px;
    font: inherit;
    font-size: var(--font-size-header);
    cursor: pointer;
    outline: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}