@import url("styles.css");

html,
body {
  margin: 0;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-dark-grey);
  background-image: var(--background-image);
  font-family: var(--default-font);
  color: var(--color-off-white);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}